/************************************************* GENERAL */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

section {
  margin: 80px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}
/*********************************************** Main menu */

.main-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  margin-left: 10px;
}
.carrito-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-icons {
  display: flex;
  margin-right: 15px;
}
.moneda {
  margin-right: 10px;
}

.car-icon {
  cursor: pointer;
}

#cant-hd {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  right: -10px;
  font-size: 12px;
  color: white;
}

/********************************************* PICTURE SECTION */
.fotos {
  margin-left: 5px;
  margin-right: 5px;
}
.intro {
  margin-bottom: 30px;
}
#model-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

li.model {
  flex: 1 1 200px;
  background-color: lightgrey;

  border-radius: 5px;
  overflow: hidden;
}

.model__img {
  width: 100%;
  height: 300px;

  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.model__content {
  padding: 10px 5px;
}

.descripcion input {
  display: inline-block;
  width: 60px;
  background-color: transparent;
  border: none;
  font-size: 120%;
  font-weight: 600;
  color: black;
  text-align: right;
}

.descripcion span {
  display: inline-block;

  font-size: 120%;
  font-weight: 600;
  color: black;
}
.tipo-cambio {
  text-align: right;
  padding-right: 10px;
}

.enviar {
  text-align: center;
  margin: 5px 0;
}

.enviar input {
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

/*************************************** CARRITO DE COMPRAS SECTION */

.car-compras {
  background: linear-gradient(to bottom right, grey, black);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  width: 300px;
  top: 0px;
  left: 0px;

  margin-top: 0;
  transform: translateX(-100%);
  transition: 0.3s all ease-in-out;
}

.active {
  transform: translateX(0);
}

.carrito-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* RESUMEN */
.carrito-content__resumen {
  background-color: #56e39f;
  padding: 5px;
  border-radius: 5px;
}

.res-box {
  display: flex;
  justify-content: space-between;
}

.res-box input {
  border: none;
  background-color: transparent;
  text-align: end;
}
/* ARTICULO */

.item {
  height: 140px;
  display: flex;
  background-color: lightgray;
  border-radius: 5px;
  overflow: hidden;
}
.item:not(:last-child) {
  margin-bottom: 5px;
}

.item__img {
  width: 120px;
  height: 100%;

  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.item__content {
  padding: 5px;
  position: relative;
  width: 100%;
}

.item__content .descrip {
  font-size: 12px;
  margin: 5px 0;
}

.item__content input {
  border: none;
  display: inline-block;
  background-color: transparent;
}

.btns {
  width: 90%;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#cant {
  width: 40px;
  background-color: orange;
  padding: 2px 5px;
  border-radius: 5px;
}

#cant::-webkit-inner-spin-button,
#cant::-webkit-outer-spin-button {
  opacity: 1;
}

#prc {
  width: 60px;
}
.precio-box {
  display: inline-block;
  font-weight: 700;
}
.precio-box p {
  display: inline-block;
}
.precio-box input {
  font-size: 16px;
  font-weight: 700;
  width: 50px;
}

.del-icon {
  font-size: 22px;
  color: white;
  background-color: orangered;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .descripcion h2 {
    font-size: 18px;
  }
  .descripcion p {
    font-size: 14px;
  }

  .car-compras {
    width: 300px;
  }
  li.model {
    flex: 1 1 170px;
  }
  #model-list {
    gap: 5px;
  }
}
